# Logs
logs
*.Logs
*.log

# Environment files
*.local
.env

# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pytest_cache/
.pyre/
.pytype/


# Editor directories and files
.vscode/*
!.vscode/extensions.json